$Letters:#263238;




$Link:#3699FF;
$Labels:#463F55;
$PrimaryButton: #3699FF;
$PrimaryButtonHover: #113676;
$PrimaryButtonDisabled: #A5B6CD;
$SecondaryButton: #E1F0FF;
$validColor: #0BB783;
$SideButtonsColor:#4E595B;
$Error:#FE5559;
$background:#f6f6fe;

$scrollBar: #4B4B4B;
$scrollBarBack:#B9C8E0;

