@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./colors.scss";
/* @import '~antd/dist/antd.css'; */

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Poppins", sans-serif;
  color: $Letters;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $scrollBar;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $scrollBarBack;
}

.pagination-container {
  display: flex;
  justify-content: end;
  ul > li.rc-pagination-item {
    border: none;
  }
  ul > li.rc-pagination-item-active {
    background-color: $PrimaryButton;
    a {
      color: white;
    }
  }
}
