.Avatar {
  background-image: url("../../assets/jesusCarnet.jpg");
  background-position: center;
  background-size: contain;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  border: 5px solid white;
  &.collapse {
    width: 70px;
    height: 70px;
  border: 1¿BBBBB3
  
  px solid white;

  }
}
